.body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.pexels.com/photos/2971245/pexels-photo-2971245.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200vh;
  border: solid 1px black;
  max-width: 100vw;
}

.title-red {
  color: red;
  margin-top: 5%;
  margin-left: 40%;
}
.myimg {
  display: flex;
  justify-content: space-between;
}
.video {
  margin-top: -8%;
  margin-left: 500px;
}
